* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #333;
    padding: 2rem;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

nav a{
    margin-left: 1rem;
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 600;
}

nav a:hover{
    color: #0073e6;
}

.hero-pic{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem;
}


h1 {
    font-size: 2rem;
    font-weight: 800;
}

p {
    color: #5a5a5a;
    font-size: 1rem;
    margin: 0.5rem 0 1.5rem;
}
  
.socials a {
    margin: 0 0.5rem;
    color: #1e1e1e;
    font-size: 1.5rem;
    transition: color 0.2s;
}
  
.socials a:hover {
    color: #0073e6;
}
  
footer {
    margin-top: 3rem;
    font-size: 0.85rem;
    color: #777;
}